.logo{
    color: #000080;
    white-space: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    height: 50px;
    gap: 16px;
    padding:8px 25px;
    border-bottom: 30px solid #000080;
    padding-bottom: none;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
        gap: 24px;
    padding: 16px;
    
    
}

.hero-banner{
    background-image: url(assets/banner-img.jpg);
    display: flex;
    background-size: cover;
    height: 200px;
    background-position: center center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    color: white;
}

.hero-banner a{
     text-decoration: none;
    background-color: navy;
    color:white;
    padding-left:20px;
    padding-right:20px;
    display: inline-block;
}

h1{
    color:navy;
    padding: 1px 30px;
    background-size: cover;
    font-size: 40px;
        font-weight: 500;
    margin-bottom: 1px;
    text-align: center;
    align-items:center;
}

h2{
    color:navy;
    padding: 1px 30px;
    background-size: cover;
    font-size: 40px;
        font-weight: 500;
    margin-bottom: 1px;
    text-align: center;
    align-items:center;
}
.home {
    margin:auto;
text-align: center;
    padding-left: 80px;
    position: relative;
    bottom:10px;
}

.button{
    align-items: center center;
    display:flex;
    flex-direction: row;
    gap: 40px;
}

.button1{
    background-color: navy;
    color:white;
    padding-left: 8px;
    padding:8px 16px;
    display: inline-block;
    border:solid;
    border-color:navy;
}

.button2{
    background-color: navy;
    color:white;
    padding-left: 8px;
    padding:8px 16px;
    display: inline-block;
    border:solid;
    border-color:navy;
}

.place {
    display:flex;
    align-items: center;
    text-align: right;
        gap:40px;
    margin-top: 40px;
    margin-left: 80px;
    margin-right:80px;
    margin-bottom: 50px;
}

.cozy{
    display:flex;
    align-items:center; 
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: left;
    gap: 40px
}

.gift{
    display:flex;
    align-items: center;
    text-align: right;
        gap:40px;
    margin-top: 40px;
    margin-left: 80px;
    margin-right:80px;
    margin-bottom: 50px;
}

.stand{
      display:flex;
    align-items:center; 
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: left;
    gap: 40px
}

.footer{
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    align-items: left;
    padding-right: 10px;
    padding: 8px 25px;
}

.info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    align-items: left;
    margin-top: 20px;
}
.p{
    color: navy;
}

.payment{
    padding: 8px 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
        align-items: right;
    margin-top: 16px
}